[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Q_Method
Exec=/home/upm/42/MUIA_DCCVE_AttitudeDetermination/desktop/startQ.sh
Icon=/home/upm/42/MUIA_DCCVE_AttitudeDetermination/desktop/3d-cube.png
Type=Application
Terminal=true
