[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=TRIAD_Method
Exec=/opt/42/MUIA_DCCVE_AttitudeDetermination/desktop/startTRIAD.sh
Icon=/opt/42/MUIA_DCCVE_AttitudeDetermination/desktop/axis.png
Type=Application
Terminal=true
